.graph-card {
    width: 90%;
}


@media screen and (max-width: 1200px) {
    .graph-card {
        width: 100%;
    }
}
/* .graph-card2 {
    /* width: 90%; */
    /* height: 75%;  */
    /* maintains 4:3 aspect ratio*/
    /* max-height: 400px; */
    /* margin: auto auto;
    /* min-height: 300px; */
    /* width: 85%; */
    /* object-fit: scale-down; */
/* } */ 
.dashboard-graph-container{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}
